/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Importação da fonte */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Corpo da página */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #469baf;
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    height: 100vh;
    margin: 0;
    flex-direction: column;
    gap: 20px; /* Espaço controlado entre os elementos */
}

/* Título */
h1 {
    font-size: 2.2em;
    color: #4B7B8A;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px; /* Adicionando um espaço abaixo do título */
}

/* Logo */
.logo img {
    display: block;
    margin: 0 auto;
    align-items: center;
}

/* Container principal */
.container {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    border-radius: 31px;
    max-width: 400px;
    text-align: initial;
}

/* Estilo dos campos de input */
.form-group {
    margin-bottom: 15px;
}

.form-group input {
    background-color: #e3faff;
    width: 100%;
    padding: 15px;
    border: 2px solid #e3faff;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #4B7B8A;
}

/* Estilo dos campos de label */
.form-group label {
    color: #469baf;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
}

/* Botão */
.btn {
    width: 100%;
    padding: 15px;
    background-color: #469baf;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    background-color: #3A5B61;
}

/* Links */
p {
    text-align: center;
}

p a {
    color: #469baf;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
